.header {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	padding: 15px;
	margin-left: 30px;
	margin-right: 75%;
	position: relative;
	top: 20px;
		
}

.header2 {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	padding: 15px;
	position: relative;
	margin-left: 30px;
	margin-right: 75%;
	
}

section {
	position: absolute;
	right: 20px;
	top: 20px;
}


a:link, a:visited {
	background-color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding: 14px 25px;
	text-decoration: none;
	display: inline-grid;
}

 #main-content {
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: 5px;
}


#main-content img {
	float: left;
	margin: 200px 20px 20px 150px;
	background: white;
}

#main-content  h2{
	font-family: 'Georgia' Times, Times New Roman, serif;
	color: #4aaaa5;
	position: relative;
	left: 100px;
	top: 200px;
	padding: 10px;
	background: white;
	margin-right: 600px;
}

 p {
	background: #ffffff;
	color: #777777;
	margin-left: 100px;
	margin-right: 500px;
	margin-top: 200px;
	margin-bottom: 200px;
	padding: 100px;
}

#background {
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: 5px;
}

.aside {
	position: relative;
	left: 900px;
	right: 100px;
	bottom: 1075px;
	background: white;
	padding-bottom: 100px;
	margin-right: 950px;
	padding-top: 10px;
}

.aside h2 {
	font-family: 'Georgia' Times, Times New Roman, serif;
	color: #4aaaa5;
	margin-left: 10px;
}

.aside img {
	float: left;
	padding: 10px;

}

.aside2 {
	position: relative;
	left: 55%;
	bottom: 250px;
	background: white;
	padding-bottom: 75px;
	padding-top: 5px;
	margin-right: 965px;
}

.aside2 h2 {
	font-family: 'Georgia' Times, Times New Roman, serif;
	color: #4aaaa5;
	margin-left: 10px;
}

.aside2 img {
	float: left;
	padding: 10px;
}

#contact {
	position: relative;
	top: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-left: 50px;
	margin-right: 65%;
	background: white;
}

#contact h2 {
	font-family: 'Georgia' Times, Times New Roman, serif;
	color: #4aaaa5;
	position: relative;
	left: 20px;
}

form {
	position: relative;
	left: 20px;
}

table {
	background: white;
}

h2 {
	position: 
}

th {
	font-family: 'Georgia' Times, Times New Roman, serif;
	color: #4aaaa5;
}

.aside3 {
	position: relative;
	left: 65%;
	bottom: 750px;
	background: white;
	padding-bottom: 75px;
	padding-top: 5px;
	margin-right: 950px;
}

.aside3 h2 {
	font-family: 'Georgia' Times, Times New Roman, serif;
	color: #4aaaa5;
	margin-left: 10px;
}

.aside3 img {
	float: left;
	padding: 10px;
}


footer {
	background: #666666;
	padding: 50px;
}